################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApplication1/bin/Debug
/ConsoleApplication1/obj/Debug
/scratch/obj/Debug
/scratch/bin/Debug
